<h1>O mne</h1><br/>

Ahojte, moje meno je Michal Korbela a dnes mám práve xxx rokov. Ľudia ma zvyknú volať Kabell. V dnešnú dobu ma väčšinou nájdete na intráku, ale občas aj doma. <br/>
</br>

Vo voľnom čase sa okrem súťaží(Codeforces, Topcoder) venujem aj organizovaniu súťaží napr. KSI. Súťaže sú super, lebo sú z nich sústredká. Ved na sústredkách som prežil viac ako pol roka môjho života. Pokial nerobím nič čo je spoločné s kódením, tak je to určite varenie, jednie, umývanie - veď to poznáte. Rád si tiež pozriem dobrý film alebo zahrám Age of Empires II - Conquerors prípadne The Forgoten Empires. Keď sa nájde príležitosť, neodmietnem  ani skákaniu na dance pade. Občas provokujem s klavírom a piano tutoriálmi z youtubu. Keď fúka vietor rád si púšťam šarkana. V zime sa rád lyžujem.</br>
</br>
V minulosti som bol zapojený do množstva súťaží. Články a reportáže sú archivované tu.
</br></br>


kontakt:<br/>
kabell999 at gmail dot com