<h1>Sústredká</h1><br/>

   <table class="table">
      <tr>
         <td>1.</td>
         <td>2009</td>
         <td>Celoštátko pytagoriády P7</td>
         <td>IVS - Bratislava</td>

      </tr>

      <tr>
         <td>2.</td>
         <td>2010</td>
         <td>Pikomat - kvarta</td>
         <td>Oravská lesná</td>    
      </tr>

      <tr>
         <td>3.</td>
         <td>2011</td>
         <td>KMS - alfa</td>
         <td>Dobrá Voda</td>    
      </tr>

      <tr>
         <td>4.</td>
         <td>2011</td>
         <td>KMS - alfa</td>
         <td>Látky</td>    
      </tr>

      <tr>
         <td>5.</td>
         <td>2011</td>
         <td>KSP - Z</td>
         <td>Terchová - Novoť</td>    
      </tr>

      <tr>
         <td>6.</td>
         <td>2012</td>
         <td>KMS - Beta</td>
         <td>Huty</td>    
      </tr>

      <tr>
         <td>7.</td>
         <td>2012</td>
         <td>KSP - Z</td>
         <td>Počúvadlo</td>    
      </tr>

      <tr>
         <td>8.</td>
         <td>2012</td>
         <td>Palma</td>
         <td>Danišovce</td>    
      </tr>

      <tr>
         <td>9.</td>
         <td>2012</td>
         <td>KMS - Beta</td>
         <td>Trusalová</td>    
      </tr>


      <tr>
         <td>10.</td>
         <td>2012</td>
         <td>KSP - Z</td>
         <td>Lazy pod Makytou</td>    
      </tr>

      <tr>
         <td>11.</td>
         <td>2013</td>
         <td>KSP - Z</td>
         <td>Trusalová</td>    
      </tr>

      <tr>
         <td>12.</td>
         <td>2013</td>
         <td>Palma</td>
         <td>Danišovce</td>    
      </tr>

      <tr>
         <td>13.</td>
         <td>2013</td>
         <td>Profiit</td>
         <td>FIIT - BA</td>    
      </tr>

      <tr>
         <td>14.</td>
         <td>2013</td>
         <td>CKOI</td>
         <td>Košice</td>    
      </tr>

      <tr>
         <td>15.</td>
         <td>2013</td>
         <td>Výberko OI</td>
         <td>IVS - BA</td>    
      </tr>

      <tr>
         <td>16.</td>
         <td>2013</td>
         <td>KMS - Beta</td>
         <td>Lazy pod Makytou</td>    
      </tr>

      <tr>
         <td>17.</td>
         <td>2013</td>
         <td>KSI</td>
         <td>Mohelský Mlýn</td>    
      </tr>

      <tr>
         <td>18.</td>
         <td>2013</td>
         <td>KSP - O</td>
         <td>Dobrá Voda</td>    
      </tr>

      <tr>
         <td>19.</td>
         <td>2014</td>
         <td>Prípravko</td>
         <td>Davos - Švajčiarsko</td>    
      </tr>

      <tr>
         <td>20.</td>
         <td>2014</td>
         <td>KSP - O</td>
         <td>Lom nad Rimavicou</td>    
      </tr>



      <tr>
         <td>21.</td>
         <td>2014</td>
         <td>Palma</td>
         <td>Danišovce</td>    
      </tr>

      <tr>
         <td>22.</td>
         <td>2014</td>
         <td>Profiit</td>
         <td>FIIT - BA</td>    
      </tr>

      <tr>
         <td>23.</td>
         <td>2014</td>
         <td>CKMO</td>
         <td>IVS - Bratislava</td>    
      </tr>

      <tr>
         <td>24.</td>
         <td>2014</td>
         <td>CKOI</td>
         <td>IVS - Bratislava</td>    
      </tr>

      <tr>
         <td>25.</td>
         <td>2014</td>
         <td>Výberko OI</td>
         <td>IVS - BA</td>    
      </tr>

      <tr>
         <td>26.</td>
         <td>2014</td>
         <td>CEOI</td>
         <td>Jena - Nemecko</td>    
      </tr>

      <tr>
         <td>27.</td>
         <td>2014</td>
         <td>VPCPC</td>
         <td>Danišovce</td>    
      </tr>

      <tr>
         <td>28.</td>
         <td>2014</td>
         <td>IOI</td>
         <td>Taipei - Taiwan</td>

      </tr>

      <tr>
         <td>29.</td>
         <td>2014</td>
         <td>KSI</td>
         <td>Bedrichov o Kunštátu</td>    
      </tr>

      <tr>
         <td>30.</td>
         <td>2014</td>
         <td>CEERC</td>
         <td>Krakow - Polsko</td>    
      </tr>

   </table>