{% load staticfiles %}
<h1>Súťaže</h1><br/>
<table class="table">
    <tr>
      <th>Rok</th>
      <th>Názov</th>
      <th>Umiestnenie</th>
      <th>Diplom</th>
      <th>Komentár</th>
   </tr>

   <tr>
      <td>2003-2004</td>
      <td>Pytagoriáda P3 - okres</td>
      <td>2. miesto </td>
      <td>Diplom</td>
      <td>Moja prvá súťaž</td>
   </tr>

      <tr>
      <td>2004-2005</td>
      <td>MO - Z4 - okres</td>
      <td>2. miesto </td>
      <td>Diplom</td>
      <td>Tu ma predbehol Belo</td>
   </tr>

      <tr>
      <td>2008-2009</td>
      <td>Pytagoriáda P7 - okres</td>
      <td>1. miesto </td>
      <td>Diplom</td>
      <td>Ako to že ma nikto nepredbehol ?</td>
   </tr>

      <tr>
      <td>2008-2009</td>
      <td>MO Z7 - okres</td>
      <td>?. miesto </td>
      <td>Diplom</td>
      
   </tr>

      <tr>
      <td>2008-2009</td>
      <td>Pytagoriáda P7 - celoslovenské</td>
      <td>9. miesto </td>
      <td><a href="{% static "diploms/CKPyt2009.jpg" %}">Diplom</a></td>
      <td>Prvý krát na IVS</td>
   </tr>

      <tr>
      <td>2009-2010</td>
      <td>Pikomat - kvarta - zimná časť</td>
      <td>7. miesto úspešný riešiteľ</td>
      <td>Diplom</td>
      
   </tr>

      <tr>
      <td>2009-2010</td>
      <td>Pikomat - kvarta - letná časť</td>
      <td>2. miesto </td>
      <td>Diplom</td>
      
   </tr>

      <tr>
      <td>2009-2010</td>
      <td>CHO - kat Dg - kraj</td>
      <td>1. miesto </td>
      <td><a href="{% static "diploms/CHODg2011.jpg" %} ">Diplom</a></td>
      <td>Toto som robil čo ?</td>
   </tr>

      <tr>
      <td>2009-2010</td>
      <td>FO - kat F - okres</td>
      <td>2. miesto </td>
      <td>Diplom</td>
      <td>Toto je tiež nejak odveci</td>
   </tr>


      <tr>
      <td>2010-2011</td>
      <td>KMS - alfa</td>
      <td>2. miesto </td>
      <td>Diplom</td>
      
   </tr>

      <tr>
      <td>2010-2011</td>
      <td>KMS - alfa</td>
      <td>3. miesto </td>
      <td>Diplom</td>
      
   </tr>

      <tr>
      <td>2010-2011</td>
      <td>MO - kat. C - kraj</td>
      <td>3. miesto </td>
      <td><a href="{% static "diploms/MOC2011.jpg" %}">Diplom</a></td>
      
   </tr>

      <tr>
      <td>2010-2011</td>
      <td>KSP-Z</td>
      <td>x. miesto </td>
      <td>Diplom</td>
      
   </tr>

      <tr>
      <td>2011-2012</td>
      <td>MO - kat. B -kraj </td>
      <td>3. miesto </td>
      <td><a href="{% static "diploms/MOB2012.jpg" %}">Diplom</a></td>
      
   </tr>

      <tr>
      <td>2011-2012</td>
      <td>KMS - Beta - zima</td>
      <td>x. miesto </td>
      <td>Diplom</td>
      
   </tr>

      <tr>
      <td>2011-2012</td>
      <td>KMS - Beta - leto</td>
      <td>x. miesto </td>
      <td>Diplom</td>
      
   </tr>

      <tr>
      <td>2011-2012</td>
      <td>KSP-Z</td>
      <td>x. miesto </td>
      <td>Diplom</td>
      
   </tr>

      <tr>
      <td>2011-2012</td>
      <td>KSP-Z</td>
      <td>4. miesto </td>
      <td>Diplom</td>
      
   </tr>

      <tr>
      <td>2011-2012</td>
      <td>OI kat. B</td>
      <td>3. miesto </td>
      <td><a href="{% static "diploms/OIB2012.jpg" %} ">Diplom</a></td>
      
   </tr>

      <tr>
      <td>2011-2012</td>
      <td>Palma</td>
      <td>7. miesto </td>
      <td><a href="{% static "diploms/Palma2012.jpg" %}">Diplom</a></td>
      <td>Filip ma kôli autoškole opustil :(</td>
   </tr>

      <tr>
      <td>2012-2013</td>
      <td>MO kat A</td>
      <td>3. miesto </td>
      <td>Diplom</td>
      
   </tr>

      <tr>
      <td>2012-2013</td>
      <td>OI kat. A</td>
      <td>3. miesto </td>
      <td><a href="{% static "diploms/OI2013-A.jpg" %}">Diplom</a></td>
      
   </tr>

      <tr>
      <td>2012-2013</td>
      <td>KSP - O</td>
      <td>7. miesto </td>
      <td>Diplom</td>
      
   </tr>

      <tr>
      <td>2012-2013</td>
      <td>KSP - O</td>
      <td>1. miesto </td>
      <td>Diplom</td>
      
   </tr>

      <tr>
      <td>2012-2013</td>
      <td>CKOI</td>
      <td>13. miesto </td>
      <td><a href="{% static "diploms/CKOI2013.jpg" %}">Diplom</a></td>
      
   </tr>

      <tr>
      <td>2012-2013</td>
      <td>Palma</td>
      <td>3. miesto </td>
      <td><a href="{% static "diploms/Palma2013.jpg" %}">Diplom</a></td>
      <td>S Filipom Pokrývkom</td>
   </tr>

      <tr>
      <td>2012-2013</td>
      <td>Profiit</td>
      <td>4. miesto </td>
      <td><a href="{% static "diploms/Profiit2013.jpg" %}">Diplom</a></td>
      <td>Prvých 10 miest obsadili KSPaci ktorí ani náhodou nechcú ísť na FIIT</td>
   </tr>

   <tr>
      <td>2012-2013</td>
      <td>KSI</td>
      <td>-</td>    
   </tr>

      <tr>
      <td>2013-2014</td>
      <td>MO kat. A - kraj</td>
      <td>3. miesto </td>
      <td>Diplom</td>
      
   </tr>

      <tr>
      <td>2013-2014</td>
      <td>CKMO</td>
      <td>x. miesto </td>
      <td>Diplom</td>
      <td>Tu som odovzdal trolface obkreslený z makety namiesto jednej úlohy</td>
   </tr>

   <tr>
      <td>2013-2014</td>
      <td>Zenit - kat A - kraj</td>
      <td>1. miesto </td>
      <td>Diplom - som nedostal</td>
      <td>Postup do celoštátka</td>
   </tr>

      <tr>
      <td>2013-2014</td>
      <td>Palma - celoštátko</td>
      <td>1.miesto</td>
      <td><a href="{% static "diploms/Palma2014.jpg" %}">Diplom</a></td>
      <td>Keby Filip v domacom kole neskodil jednu jedinú úlohu, tak by sme sem asi nešli</td>
   </tr>

      <tr>
      <td>2013-2014</td>
      <td>Zenit - celoštátko</td>
      <td>1. miesto </td>
      <td><a href="{% static "diploms/zenit2014.jpg" %}">Diplom</a></td>
      
   </tr>

      <tr>
      <td>2013-2014</td>
      <td>Profiit</td>
      <td>1. miesto </td>
      <td><a href="{% static "diploms/Profiit2014.jpg" %}">Diplom</a></td>
      
   </tr>

      <tr>
      <td>2013-2014</td>
      <td>Náboj</td>
      <td>15. miesto </td>
      <td>Diplom</td>
      <td>S Filipom a Jančim :D</td>
   </tr>

   <tr>
      <td>2013-2014</td>
      <td>KSI</td>
      <td>úspešný</td>    
   </tr>

   <tr>
      <td>2012-2014</td>
      <td>KSP - cz</td>
      <td>5. miesto</td>    
   </tr>

      <tr>
      <td>2013-2014</td>
      <td>OI - kat A kraj</td>
      <td>3. miesto </td>
      <td>Diplom</td>
      
   </tr>

      <tr>
      <td>2013-2014</td>
      <td>CKOI</td>
      <td>11. miesto </td>
      <td><a href="{% static "diploms/CKOI2014.jpg" %}">Diplom</a></td>
      <td>Chýbalo 5 min a nebol by som úspešný</td>
   </tr>

      <tr>
      <td>2013-2014</td>
      <td>Výberko OI</td>
      <td>4. miesto </td>
      <td>Diplom</td>
      <td>Postup do CEOI, VPCPC, IOI</td>
   </tr>

      <tr>
      <td>2013-2014</td>
      <td>CEOI - Jena</td>
      <td>bronz </td>
      <td><a href="{% static "diploms/CEOI2014.jpg" %}">Diplom</a></td>
      <td>Wurstbroty už nechcem ani vidieť</td>
   </tr>

      <tr>
      <td>2013-2014</td>
      <td>VPCPC</td>
      <td> prípravko </td>
      <td><a href="{% static "diploms/VPCPC2014.jpg" %}">Diplom</a></td>
      <td>Ageof everytime</td>
   </tr>

      <tr>
      <td>2013-2014</td>
      <td>IOI</td>
      <td>bronz </td>
      <td><a href="{% static "diploms/IOI2014.jpg" %}">Diplom</a></td>
      <td></td>
   </tr>

      <tr>
      <td>2014-2015</td>
      <td>CTU open</td>
      <td>6. miesto </td>
      <td><a href="{% static "diploms/CTUOpen2014.pdf" %}">Diplom</a></td>
      <td>Postup do CERC</td>
   </tr>

      <tr>
      <td>2014-2015</td>
      <td>CERC</td>
      <td>35.miesto </td>
      <td>Diplom</td>
      <td>Krowky :P</td>
   </tr>
</table>