<p>
<h2>Basic Information</h2>
Name: Michal Korbela<br/>
Nick: kabell<br/>
Age: 19<br/>
Email: kabell999 at google dot com<br/>
Personal status: single<br/><br/>
Languages: Slovak,Czech - native, English - intermediate<br/>


<p>
<h2>Education</h2>
<b>2014-now</b> - Mathematical Informatics - faculty of Informatics - Masaryk Uviversity Brno<br/>
<b>2005-2014</b> - Gymnazium J.Jesenskeho Banovce nad Bebravou<br/>
<b>2001-2005</b> - ZS Partizanska, Banovce nad Bebravou<br/>
<p>
<h2>Achievements</h2>
There are listed some of my international achievements:<br/>
<b>2014</b> - <b>IOI</b> (<b>I</b>nternational <b>O</b>lympiad in <b>I</b>nformatics)  -  <b>bronze medal</b><br/>
<b>2014</b> - <b>CEOI</b> (<b>C</b>entral <b>E</b>uropean <b>O</b>lympiad in <b>I</b>nformatics) - <b>bronze medal</b><br/>
<b>2014</b> - ACM ICPC - I took part in CERC - regional round<br/>
<b>2014</b> - I took part in Davos preparation camp<br/>
<b>Codeforces</b> max. rating 2069<br/>

<p><h2>Skills</h2>
Programming languages:<br/>
<ul>
<li>C++,C - intermediate</li>
<li>Python intermediate</li>
<li>PHP - intermediate</li>
<li>Javascript - intermediate</li>
<li>HTML/CSS - beginner</li>
<li>Pascal/Delphi - beginner</li>
<li>Java - beginner</li>
<li>Linux Shell - beginner</li>

</ul>

Driving license since 2013









