<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <link rel="icon" href="{% static "../../favicon.ico" %}">
    <title>Kabell.ova homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static "style.css" %}">
      <script>
          function change_language(){
        $.ajax({
            type: 'GET',
            url: '/change_language',
            success: function(msg){
               location.reload();
            }
        });
          }
      </script>

   </head>
  <body>

   <div class="container-fluid">
       <div class="row content">
           <div class="col-sm-2 sidenav">
               <ul class="nav nav-pills nav-stacked">

                {% for page in menu %}
                <li class="{% if page.id == id %}active{% else %}inactive{% endif %}">
                    <a href="page={{ page.page }}">{%  if language == "sk" %}{{ page.sk }}{% else %}{{ page.en }}{% endif %} </a></li>
                {% endfor %}

                <li class="inactive"><a href="#" onClick="change_language(); return false;">{% if language == "en" %}Slovak{% else %}English{% endif %}</a></li>

               </ul>
           </div>

           <div class="col-sm-9">
               <div class="stred">
                {{ html }}
               </div>
           </div><!-- /.container -->
       </div>
   </div>
  </body>
</html>

