<h1>Štúdium</h1><br/>

<b>2001-2002 - Materská škola, Ul. 9. Mája 596/3, Bánovce nad Bebravou, 95701</b><br/>
Tak ako každý aj ja som chodil do škôlky aj keď iba jeden rok, lebo doma mi bolo pri mame a bratoch dostatočne dobre.
<hr>
<b>2002-2005  - Základná škola Partizánka 6, Bánovce nad Bebravou, 95701</b><br/>
Asi najhoršia základná škola v Bánovciach, dobre že som z nej odišiel
<hr>
<b>2005-2013 - Osemročné gymnázium Janka Jesenského, Bánovce nad Bebravou, 95701?</b><br/>
Na tejto škole som prežil najlpšie roky svojho života, vyhral som pár <a href="/{{language}}/competitions">súťaží</a> a úspešne som zmaturoval.
<hr>
<b>2014 - teraz Masarykova Univerzita - Fakulta Informatiky, Botanická ,68a Brno</b><br/>
Tak teraz študujem tu.
<hr>
